@import 'font';
@import 'variables';
@import 'mixines';

* {
	user-select: none;
}

.clothes-container {
	padding: 36px 64px;
}

@media (min-width: 321px) and (max-width: 768px) {
	.clothes-container {
		padding: 20px 34px;
	}
}

@media (max-width: 320px) {
	.clothes-container {
		padding: 16px 16px;
	}
}