@import 'variables';

.main-content-container {
	display: flex;
	justify-content: center;
}

.main-content-block {
	width: calc(100% - 96px);
	max-width: 1344px;
	padding: 0px 48px;
}

.clothes-container {
	margin-top: 26px;
}

@media (max-width: 768px) {
	.main-content-block {
		width: calc(100% - 28px);
		max-width: 1412px;
		padding: 0px 14px;
	}

	.clothes-container {
		margin-top: 0px;
	}
}