@import 'font';
@import 'variables';
@import 'mixines';

* {
	user-select: none;
}

.real-header {
	border-bottom: 1px solid $main-text-color;
	background-color: $white-color;
}

.page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	width: 100%;
}

.links-container, .links-container nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin: 0 20px;
}

.big-gap {
	gap: 40px;
}

.page-title {
	@include  text-style(36px, 500);

	a {
		@include  text-style(36px, 500);

		.title-capitals {
			@include  text-style(36px, 800);
			color: $color-capital;
		}
	}
}

.page-link-container {
	display: flex;
	height: 55px;
	justify-content: center;
	align-items: center;
	transition: $transition;
	@include text-style(18px, 400);
}

.one {
	width: 240px;
}

.two {
	width: 154px;
}

.page-link-container:hover {
	cursor: pointer;
	font-weight: 600;
}

.page-button-container {
	display: flex;
	height: 38px;
	width: 100px;
	justify-content: center;
	align-items: center;
	background-color: rgba(84, 242, 242, 0.7);
	transition: $transition;
	border-radius: $radius;
}

.page-button-container:hover {
	background-color: rgba(84, 242, 242, 1);
	cursor: pointer;
}

.region-search-container {
	position: relative;
	height: fit-content;
}

.regions-search-container {
	position: absolute;
	left: 0px;
	top: 56px;
	background-color: $white-color;
	width: 400px;
	height: 200px;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: $main-text-color;
}

.region-search-header {
	height: 48px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid $main-text-color;
}

.region-search {
	@include text-style(16px, 400);
	width: 317px;
	height: 28px;
	background-color: $white-color;
	border: none;
	border-bottom: 1px solid $main-text-color;
	border-radius: $radius;
	padding-left: 30px;
	background: url('@/assets/search.svg') no-repeat scroll 7px 7px;
	background-size: auto 16px;
}

.regions-container {
	height: 150px;
	width: 400px;
	overflow-y: scroll;
}

.region-search:focus {
	outline: none;
}

.region-container {
	width: 208px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	.region-name {
		@include  text-style(18px, 400);
	}

	.open-arrow {
		width: 20px;
		height: 12px;
	}
}

.region-container:hover {
	cursor: pointer;
}

.button-img {
	width: 16px;
	height: 26px;
}

.button-img:hover {
	cursor: pointer;
}

.bg-open-icon {
	display: none;
	flex-direction: column;
	justify-content: center;
	height: 28px;
	width: 34px;
	gap: 5px;
}

.bg-icon-line {
	background-color: $main-text-color;
	border-radius: 2px;
	width: 34px;
	height: 6px;
}

.content-container-bg {
	height: fit-content;
	width: auto;
}

.page-link-container-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	@include text-style(18px, 400);
}

.region-search-container-bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.region-container-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	gap: 6px;
}

.region-name-bg {
	@include text-style(18px, 400);
}

.open-arrow-bg {
	width: 20px;
	height: 12px;
}

.regions-search-container-bg {
	height: fit-content;
	margin: 0 8px;
}

.region-search-header-bg {
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.region-search-bg {
	max-width: 456px;
	@include text-style(16px, 400);
	width: 100%;
	height: 34px;
	background-color: $white-color;
	border: none;
	border-radius: $radius;
	padding-left: 30px;
	background: url('@/assets/search.svg') no-repeat scroll 7px 11px;
	background-size: auto 16px;
	border-bottom: 1px solid $main-text-color;

	&:focus {
		outline: none;
	}
}

.regions-container-bg {
	height: 120px;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
}

.regions-list {
	list-style-type: none;
}

.regions-list-bg {
	list-style-type: none;
	width: 100%;
	max-width: 456px;
}

.list-one {
	@include text-style(18px, 400);
	margin: 10px 0px;
	font-style: oblique;

	&:hover {
		cursor: pointer;
	}
}

@media (min-width: 769px) and (max-width: 1032px) {
	.region-search-container {
		display: none;
	}

	.page-header {
		height: 48px;
	}

	.links-container {
		margin: 0 10px;
	}

	.for-bg {
		display: none;
	}

	.page-title {
		font-size: 32px;

		a {
			font-size: 32px;

			.title-capitals {
				font-size: 32px;
			}
		}
	}

	.bg-open-icon {
		display: flex;
	}
	
	.list-one {
		font-size: 17px;
	}
}

@media (min-width: 321px) and (max-width: 768px) {
	.region-search-container {
		display: none;
	}

	.page-header {
		height: 48px;
	}

	.links-container {
		margin: 0 10px;
	}

	.for-bg {
		display: none;
	}

	.page-title {
		font-size: 26px;

		a {
			font-size: 26px;

			.title-capitals {
				font-size: 26px;
			}
		}
	}

	.bg-open-icon {
		display: flex;
	}

	.page-link-container-bg {
		height: 44px;
	}
	
	.signin-button-bg {
		height: 44px;
	}

	.region-container-bg {
		height: 44px;
	}

	.region-search-header-bg {
		height: 42px;
	}

	.region-search-bg {
		height: 28px;
		padding-left: 30px;
		background: url('@/assets/search.svg') no-repeat scroll 7px 7px;
		background-size: auto 16px;
	}
	
	.list-one {
		font-size: 16px;
	}
}

.active {
	font-weight: 600;
}

@media (max-width: 320px) {
	.region-search-container {
		display: none;
	}

	.page-header {
		height: 48px;
	}

	.links-container {
		margin: 0 10px;
	}

	.for-bg {
		display: none;
	}

	.page-title {
		font-size: 26px;

		a {
			font-size: 26px;

			.title-capitals {
				font-size: 26px;
			}
		}
	}

	.bg-open-icon {
		display: flex;
	}

	.page-link-container-bg {
		height: 44px;
	}
	
	.signin-button-bg {
		height: 44px;
	}

	.region-container-bg {
		height: 44px;
	}

	.region-search-header-bg {
		height: 42px;
	}

	.region-search-bg {
		height: 28px;
		padding-left: 30px;
		background: url('@/assets/search.svg') no-repeat scroll 7px 7px;
		background-size: auto 16px;
	}

	.active {
		font-size: 19px;
	}
	
	.list-one {
		font-size: 17px;
	}
}

.none {
	display: none;
}