@import 'variables';

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: $light-color;
	border-bottom: 1px solid $dark-color;
}

.content-container {
	width: calc(100% - 40px);
	max-width: 1400px;
	height: 60px;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content-blocks {
	display: flex;
	align-items: center;
	gap: 40px;
}

.page-title {
	font-size: 32px;
	color: $dark-color;
	font-weight: 500
}

.page-title-capitals {
	color: $logo-capitals-color;
	font-weight: 800
}

.region-search-container {
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
}

.region-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	
	&:hover {
		cursor: pointer;
	}
}

.region-name {
	font-size: 18px;
	color: $dark-color;
}

.pen-icon {
	width: 16px;
	height: 16px;
}

.region-input-container {
	display: flex;
	align-items: center;
}

.input-search-region {
	width: 206px;
	height: 32px;
	border: 1px solid $dark-color;
	border-radius: 4px 0px 0px 4px;
	font-size: 18px;
	padding-left: 8px;
	padding-right: 8px;
	color: $dark-color;
	background-color: $light-color;

	&:focus {
		outline: none;
		border-radius: 4px 0px 0px 4px;
	}
}

.button-search-region {
	width: 36px;
	height: 36px;
	background-color: unset;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: $dark-color;
	border-radius: 0px 4px 4px 0px;
}

.search-img {
	width: 20px;
	height: 20px;
}

.buttons-container {
	display: flex;
	align-items: center;
	gap: 60px;
	padding-left: 30px;
}

.button-link {
	background-color: unset;
	border: unset;
	font-size: 18px;
	padding: 0px;
	color: $dark-color;

	&:hover {
		cursor: pointer;
	}
}

.active {
	font-weight: 700;
}

.content-container-m {
	width: 100%;
	max-width: 1440px;
	display: none;
}

.weather-container-m {
	position: relative;
	border-radius: 0px 0px 7px 7px;
}

.weather-today-container-m {
	border-radius: 0px 0px 7px 7px;
	background-color: rgba(18, 38, 58, 0.40);
	padding: 14px;
	padding-bottom: 116px;
	margin-bottom: 38px;
}

.region-opened-m {
	font-size: 18px;
	color: $light-color;
}

.time-now-m {
	font-size: 16px;
	margin-top: 4px;
	color: $light-color;
	opacity: 0.78;
}

.temp-data-container-m {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.temp-weather-container-m {
	display: flex;
	padding: 10px;
}

.temp-now-m {
	font-size: 48px;
	color: $light-color;
}

.weather-now-img-m {
	width: 114px;
	height: 58px;
	object-fit: cover;
}

.weather-now-text-m {
	font-size: 16px;
	color: $light-color;
}

.feels-now-text-m {
	font-size: 16px;
	margin-top: 2px;
	color: $light-color;
	opacity: 0.78;
}

.other-data-container-m {
	margin-top: 24px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 24px;
}

.other-data-m {
	display: flex;
	gap: 4px;
	align-items: center;
}

.other-data-text-m {
	font-size: 16px;
	color: $light-color;
}

.windy-img-m {
	width: 20px;
	height: 18px;
}

.humidity-img-m {
	width: 20px;
	height: 15px;
}

.pressure-img-m {
	width: 22px;
	height: 16px;
}

.weather-today-container-dark-m {
	margin-top: 14px;
	position: absolute;
	border-radius: 7px;
	background-color: rgba(18, 38, 58, 0.8);
	max-width: calc(100% - 28px);
}

.times-container-m {
	display: flex;
	overflow-x: scroll;
	padding: 8px 0px;
}

.link-button-m {
	position: absolute;
	top: 14px;
	right: 14px;
	border: none;
	background-color: $dark-color;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-img-m {
	width: 30px;
	height: 26px;
}

.link-main {
	width: 64px;
	height: 32px;
	object-fit: cover;
}

.region-container-m {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 8px;
}

@media (max-width: 830px) {
	.input-search-region {
		width: 100px;
	}

	.content-blocks {
		gap: 20px;
	}
}

@media (max-width: 768px) {
	.header {
		border-bottom: none;
	}

	.content-container {
		display: none;
	}

	.content-container-m {
		display: block;
	}
	
	.input-search-region {
		width: 180px;
		height: 28px;
	}
	
	.button-search-region {
		width: 31px;
		height: 31px;
		background-color: $light-color;
	}
	
	.search-img {
		width: 20px;
		height: 20px;
	}
}

.d-none {
	display: none;
}