@import 'font';
@import 'variables';
@import 'mixines';

* {
	user-select: none;
}

.hour-data-container {
	flex-grow: 1;
	background: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hour-weather-icon {
	width: 148px;
	height: 100px;
	margin-top: 6px;
	object-fit: cover;
}

.hour-temperature {
	@include text-style(20px, 400);
	font-weight: 700;
}

.hour-time-container {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-top: 1px solid $main-text-color;
	margin-top: 10px;
}

.hour-time {
	@include text-style(18px, 400);
	font-weight: 700;
}

.other-color {
	color: $main-text-color;
}

@media (max-width: 768px) {
	.hour-data-container {
		margin: 16px 0px;
		flex-grow: 1;
		border-width: 0px 1px 0px 1px;
		border-style: solid;
		border-color: $white-color;
		padding: 0px 2px;
	}

	.hour-weather-icon {
		height: 60px;
		width: 120px;
		margin: 0px 6px;
	}

	.hour-temperature {
		font-size: 17px;
		margin-top: 22px;
	}

	.hour-time {
		font-size: 16px;
	}

	.hour-time-container {
		border: none;
		align-items: end;
		margin-top: 0px;
	}

	.other-color {
		color: #FFFFFF;
	}
}