@import 'font';
@import 'variables';

.main-content-container {
	display: flex;
	justify-content: center;
}

.main-content-block {
	width: calc(100% - 96px);
	max-width: 1344px;
	padding: 0px 48px;
}

.weather-container {
	margin-top: 26px;
	border-radius: 7px;
}

.weather-today-container {
	border-radius: 7px;
	background-color: rgba(18, 38, 58, 0.40);
}

.region-opened {
	font-size: 18px;
	padding-top: 16px;
	margin-left: 26px;
	color: $light-color;
}

.time-now {
	font-size: 16px;
	margin-top: 2px;
	margin-left: 26px;
	color: $light-color;
	opacity: 0.78;
}

.temp-data-container {
	margin-top: 16px;
	margin-left: 26px;
	display: flex;
}

.temp-now {
	font-size: 48px;
	color: $light-color;
}

.weather-now-img {
	width: 114px;
	height: 58px;
	object-fit: cover;
}

.weather-now-text {
	font-size: 16px;
	color: $light-color;
}

.feels-now-text {
	font-size: 16px;
	margin-top: 2px;
	color: $light-color;
	opacity: 0.78;
}

.other-data-container {
	margin-top: 16px;
	margin-left: 26px;
	display: flex;
	gap: 24px;
}

.other-data {
	display: flex;
	gap: 4px;
	align-items: center;
}

.other-data-text {
	font-size: 16px;
	color: $light-color;
}

.windy-img {
	width: 20px;
	height: 18px;
}

.humidity-img {
	width: 20px;
	height: 15px;
}

.pressure-img {
	width: 22px;
	height: 16px;
}

.weather-today-container-dark {
	margin-top: 20px;
	border-radius: 0px 0px 7px 7px;
	background-color: rgba(18, 38, 58, 0.08);
}

.times-container {
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	padding: 8px 30px;
}

.week-days-container {
	margin-top: 58px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

@media (max-width: 768px) {
	.weather-container {
		display: none;
	}

	.main-content-block {
		width: calc(100% - 28px);
		max-width: 1412px;
		padding: 0px 14px;
	}

	.week-days-container {
		margin-top: 0px;
	}
}