@import 'font';
@import 'variables';
@import 'mixines';

* {
	user-select: none;
}

.weather-container {
	padding: 48px 80px;
}

.weather-today-container {
	height: 230px;
	background-color: $white-color;
	border-radius: 8px;
}

.weather-today-header {
	height: 46px;
	background-color: $white-color;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid $main-text-color;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-elems-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.day-date {
	@include text-style(20px, 400);
}

.week-weather {
	margin-left: 118px;
	margin-top: 26px;
	@include text-style(28px, 500);
}

.week-days-container {
	padding: 30px 168px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.times-container {
	padding: 0px 14px;
	display: flex;
	gap: 26px;
	overflow-x: scroll;
	height: 184px;
}

@media (min-width: 1025px) and (max-width: 1224px) {
	.week-days-container {
		padding: 20px 40px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.week-days-container {
		padding: 20px 36px;
	}
}

@media (max-width: 768px) {
	.times-container {
		padding: 0px 8px;
		gap: 0px;
		height: 156px;
	}

	.weather-container {
		padding: 0px;
	}

	.weather-today-container {
		background: none;
		height: 204px;
	}

	.weather-today-header {
		border-radius: 0px;
	}

	.header-elems-container {
		justify-content: space-between;
		padding: 0 10px;
	}

	.day-date {
		font-size: 18px;
	}

	.week-weather {
		font-size: 20px;
		margin-top: 16px;
		margin-left: 20px;
	}

	.week-days-container {
		padding: 16px 0px;
	}
}