@import 'font';
@import 'variables';
@import 'mixines';

.div-table-col-string {
	width: 162px;
	display: flex;
	align-items: center;
}

.div-table-col-string-one {
	width: 112px;
}

.col-text {
	@include text-style(18px, 400);
}

.for-little-string {
	display: none;
}

.for-big-string {
	display: flex;
	align-items: center;
}

.temp-col {
	width: 100px;
}

.weather-col {
	width: 224px;
}

.table-weather-img {
	height: 40px;
	width: 40px;
}

@media (max-width: 768px) {
	.for-big-string {
		display: none;
	}

	.for-little-string {
		display: block;
	}

	.div-table-col-string {
		width: 50px;
	}

	.col-text {
		font-size: 14px;
	}

	.last-col-string {
		width: 26px;
	}

	.div-table-col-string-one {
		width: 40px;
	}
}

@media (max-width: 320px) {
	.table-weather-img {
		height: 34px;
		width: 34px;
	}
}