@import 'variables';

.div-table-row {
	display: flex;
	align-items: center;
	gap: 24px
}

.div-table-col-row {
	width: 100px;
	display: flex;
	align-items: center;
}

.first {
	width: 50px;
}

.col-temp {
	width: 40px;
}

.third {
	width: 180px;
}

.col-text {
	color: $dark-color;
	font-size: 16px;
	display: flex;
	gap: 4px;
}

.table-weather-img {
	width: 48px;
	height: 24px;
	object-fit: cover;
}

.temp-m, .wind-m {
	display: none;
}

@media (max-width: 991px) {
	.not-n {
		display: none;
	}

	.first {
		width: 50px;
	}

	.third {
		width: 180px;
	}

	.cell-wind {
		width: 60px;
	}
}

@media (max-width: 768px) {
	.not-m {
		display: none;
	}

	.col-m {
		display: block;
		width: 50px;
		min-width: 50px;
	}

	.temp-m, .wind-m {
		display: block;
	}

	.div-table-row {
		justify-content: space-between;
	}
}