@import 'variables';

.div-day-table {
	max-width: fit-content;
	background-color: $blue-color;
	border-radius: 7px;
	padding: 0px 14px;
}

.div-table-row-header {
	display: flex;
	border-bottom: 1px solid $dark-color;
}

.div-table-col-data-day {
	width: 348px;
	display: flex;
	align-items: start;
	gap: 4px;
}

.table-day-month {
	color: $dark-color;
	font-size: 48px;
}

.day-date-month-container {
	margin-top: 5px;
}

.day-date-month {
	color: $dark-color;
	font-size: 16px;
}

.div-table-col {
	width: 100px;
	margin-right: 24px;
	padding-top: 4px;
}

.col-text {
	color: $dark-color;
	font-size: 16px;
}

.div-table-cols-container {
	margin-right: 24px;
	padding: 14px 6px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.on-m {
	display: none;
}

.table-weekday {
	font-size: 18px;
	font-weight: 700;
}

.day-date-month {
	margin-left: 8px;
	font-weight: 400;
}

@media (max-width: 991px) {
	.not-n {
		display: none;
	}

	.div-table-col-data-day {
		width: 348px;
	}

	.col-wind {
		width: 60px;
	}
}

@media (max-width: 768px) {
	.not-m {
		display: none;
	}

	.on-m {
		display: block;
	}

	.div-day-table {
		max-width: unset;
		background-color: rgba(18, 38, 58, 0.2);
	}

	.div-table-row-header {
		padding: 8px 6px;
	}

	.div-table-cols-container {
		margin-right: 0px;
	}
}