@import 'font';
@import 'variables';
@import 'mixines';

* {
	user-select: none;
}

.day-table-container {
	background-color: $white-color;
	border-radius: 8px;
	height: 215px;
}

.div-table {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.div-table-cols-container {
	margin-left: 12px;
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.div-table-row {
	height: 22px;
	display: flex;
}

.row-header {
	border-bottom: 1px solid $main-text-color;
	height: 77px;
}

.div-table-col {
	width: 162px;
	display: flex;
	align-items: end;
}

.div-table-col-three {
	width: 448px;
	display: flex;
	align-items: start;
	gap: 14px;
}

.day-weekday {
	margin: 6px 0px 0px 12px;
	width: 240px;
	@include text-style(36px, 500);
}

.day-date-month {
	display: flex;
	align-items: start;
}

.table-day-date {
	line-height: 77px;
	@include text-style(64px, 400);
}

.table-day-month {
	@include text-style(16px, 400);
}

.last-cols {
	@include text-style(16px, 400);
	margin-bottom: 4px;
}

.last-col {
	width: 80px;
}

@media (min-width: 769px) and (max-width: 1224px) {
	.day-table-container {
		height: fit-content;
		padding-bottom: 10px;
	}

	.row-header {
		height: 46px;
	}

	.day-weekday {
		font-size: 26px;
		margin-left: 20px;
		margin-top: 8px;
		width: 174px;
	}

	.day-date-month {
		gap: 6px;
		margin-top: 12px;
	}

	.table-day-date, .table-day-month {
		color: #FF5151;
		font-size: 24px;
		line-height: 26px;
	}
}

@media (max-width: 768px) {
	.div-table-cols-container {
		padding-left: 8px;
	}

	.row-header {
		height: 32px;
	}

	.div-table {
		margin: 0px 12px;
		gap: 5px;
	}

	.day-weekday {
		font-size: 18px;
		margin-left: 2px;
		margin-top: 0px;
		width: 110px;
	}

	.day-date-month {
		gap: 4px;
		margin-top: 0px;
	}

	.table-day-date, .table-day-month {
		color: #FF5151;
		font-size: 18px;
		line-height: 22px;
	}

	.for-little {
		display: none;
	}

	.div-table-col-three {
		align-items: center;
	}

	.day-table-container {
		height: 156px;
		padding-bottom: 0px;
	}

	.div-table-cols-container {
		margin-left: 0px;
		gap: 0px;
	}
	
	.div-table-row {
		height: 28px;
		justify-content: space-between;
	}

	.row-header {
		height: 32px;
	}

	.last-col {
		width: fit-content;
		padding-right: 8px;
	}
}