@import 'variables';

.today-clothes-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.today-clothes-description-container {
	min-width: 480px;
	flex: 1;
}

.description-time-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.today-clothes-day-part {
	color: $dark-color;
	font-size: 24px;
}

.today-clothes-time {
	color: $dark-color;
	font-size: 16px;
	opacity: 0.78;
}

.today-clothes-description {
	color: $dark-color;
	font-size: 16px;
	margin-top: 20px;
}

.clothes-images-cntainer {
	flex: 1;
	min-width: 480px;
	padding: 30px 10px;
	background-color: unset;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.clothes-img {
	height: 140px;
}

@media (max-width: 768px) {
	.today-clothes-container {
		flex-direction: column;
	}

	.today-clothes-description-container {
		min-width: auto;
	}

	.clothes-images-cntainer {
		min-width: fit-content;
		flex-direction: column;
		align-items: center;
	}

	.today-clothes-day-part {
		line-height: 26px;
	}

	.description-time-container {
		row-gap: 4px;
	}

	.clothes-img {
		height: 120px;
	}
}