@import 'font';
@import 'variables';
@import 'mixines';

* {
	user-select: none;
}

.today-clothes-container {
	display: flex;
	gap: 62px;
	flex-direction: row;
}

.today-clothes-description-container {
	flex: 1;
	min-width: 480px;
}

.today-clothes-day {
	@include text-style(24px, 700);
}

.today-clothes-description {
	margin-top: 20px;
	margin-left: 16px;
	@include text-style(18px, 400);
}

.clothes-images-cntainer {
	background-color: $white-color;
	border-radius: $radius;
	padding: 30px 10px;
	justify-content: center;
	flex: 1;
	min-width: 480px;
	min-height: 424px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.one-clothes-item {
	object-fit: cover;
	width: 140px;
	height: 140px;
}

@media (max-width: 1178px) {
	.today-clothes-container {
		gap: 40px;
		flex-wrap: wrap;
	}

	.clothes-images-cntainer {
		width: 100%;
	}

	.today-clothes-day {
		font-size: 20px;
	}

	.today-clothes-description {
		font-size: 18px;
	}
}

@media (max-width: 568px) {
	.today-clothes-day {
		font-size: 19px;
	}

	.today-clothes-description-container {
		min-width: 240px;
	}

	.clothes-images-cntainer {
		min-width: 240px;
	}

	.today-clothes-description {
		font-size: 17px;
		margin-left: 0px;
	}
}

@media (max-width: 320px) {
	.today-clothes-day {
		font-size: 18px;
	}

	.today-clothes-description-container {
		min-width: 200px;
	}

	.clothes-images-cntainer {
		min-width: 200px;
	}

	.today-clothes-description {
		font-size: 16px;
	}
}